body, html {height: 100%}
.walls {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.fooont{
    font-family: TW Cen MT;
}

.bgimg{
    background-image: url('../images/bground/KrivecAles3.jpg');
}


/* Create a Parallax Effect */
.index1, .index2, .index3{
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}
  

.index1{
    background-image: url('../images/bground/SebastianVoortman.jpg');
}

.index2{
    background-image: url('../images/bground/AnuarGresati.jpg');
}

.index3{
    background-image: url('../images/bground/LuisMartinez.jpg');
}